# values.yaml
replicaCount: 1
containerPort: 5000

image:
  repository: ghcr.io/okkarko83/service-yellow
  tag: "latest"
  pullPolicy: IfNotPresent


fullnameOverride: "poc-svc-yellow"


autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

serviceAccount:
  create: true
  annotations: {}
  name: ""

env:
  - name: PEER_SERVICES
    value: "blue:http://poc-svc-blue,green:http://poc-svc-green"

service:
  type: ClusterIP
  ports: 
    - name: http
      port: 80
      targetPort: 5000
      protocol: TCP

istio:
  enabled: true
  gatewayName: "argocd-gateway"
  host: "yellow.local"

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "200m"
    memory: "256Mi"

livenessProbe:
  enabled: true
  httpGet:
    path: /health
    port: 5000
  initialDelaySeconds: 300
  periodSeconds: 20
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  enabled: true
  httpGet:
    path: /health
    port: 5000
  initialDelaySeconds: 300
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3
